header nav {
  position: relative;
  border-bottom: solid 15px;
  max-width: 1279px;
  height: calc(calc(var(--nav-height) - 15px));
  color: #21a0d2;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0 auto;
}

header nav div  {
  max-width: 1279px;
  margin: auto;
}

header nav ul {
  list-style: none;
  height: 30px;
  margin: 0;
  padding: 50px 0;
}

header nav ul li {
  float: left;
  border-right-width: 0;
  padding: 0 30px;
}

header nav ul a {
  color: #24beed !important;
  padding: 7px 0;
}

header nav ul li:first-child {
  padding-left: 0;
}

header nav div:first-child {
  height: 130px;
}

header nav > div:nth-child(2) {
  height: var(--nav-height);
}

header nav > div:nth-child(2) p {
  margin: 0 0 -6px;
}

header nav > div:nth-child(2) h1 {
  position: absolute;
  color: #21a0d2;
  left: 0;
  top: 107px;
}

header nav > div:nth-child(2) h1 a {
  letter-spacing: 1px;
  width: 200px;
  display: block;
  font-weight: 700 !important;
  font-size: 73px;
  text-decoration: none;
  color: #21a0d2;
  font-family: var(--home-header-family);
}

header nav picture {
  float: right;
}

@media screen  and (max-width: 767px) {
  header, header nav {
    height: var(--nav-height);
  }

  header nav img {
    width: auto;
    max-height: 60px;
  }

  header nav ul {
    font-size: 14px;
    margin: 0 auto;
    padding: 30px 0;
  }

  header nav ul li {
    padding: 0 5px;
  }

  header nav div:first-child {
    height: 90px;
  }

  header nav div:nth-child(2) {
    height: 80px;
  }

  header nav > div:nth-child(2) h1 {
    top:80px;
  }

  header nav > div:nth-child(2) h1 a {
    width: 90px;
    font-size: 30px;
  }
}

@media screen  and (max-width: 1379px) {
  header nav {
    width: 90%;
  }
}
