header nav {
  position: relative;
  border-bottom: solid 15px;
  max-width: 1279px;
  height: 299px;
  color: #21a0d2;
  font-family: inherit;
  font-size: 20px;
  line-height: 25px;
  margin: 0 auto;
}

header nav div  {
  max-width: 1379px;
  margin: auto;
}

header nav div ul {
  list-style: none;
  height: 30px;
  margin: 0;
  padding: 50px 50px 50px 0;
}

header nav ul li {
  float: left;
  border-right-width: 0;
  padding: 0 30px;
}

header nav ul a {
  color: #24beed !important;
}

header nav ul li:first-child {
  padding-left: 0;
}

header nav div:first-child {
  height: 130px;
}

header nav > div:nth-child(2) {
  height: 170px;
}

header nav > div:nth-child(2) p {
  margin: 0 0 -6px;
}

header nav > div:nth-child(2) h1 {
  position: absolute;
  color: #21a0d2;
  left: 0;
  top: 107px;
}

header nav > div:nth-child(2) h1 a {
  letter-spacing: 1px;
  width: 200px;
  display: block;
  font-weight: 700 !important;
  font-size: 73px;
  text-decoration: none;
  color: #21a0d2;
  line-height: 75.05px;
  font-family: var(--home-header-family);
}

header nav picture {
  float: right;
}

