@font-face {
    font-family: HelveticaNeueLTStd-Bd;
    src: url('fonts/HelveticaNeueLTStd-Bd.eot');
    src: local('☺'), url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: HelveticaNeueLTStd-Blk;
    src: url('fonts/HelveticaNeueLTStd-Blk.eot');
    src: local('☺'), url('fonts/HelveticaNeueLTStd-Blk.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Blk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: HelveticaNeue-Roman;
    src: url('fonts/HelveticaNeue-Roman.eot');
    src: local('☺'), url('fonts/HelveticaNeue-Roman.woff') format('woff'), url('fonts/HelveticaNeue-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: HelveticaNeueLTPro-Lt;
    src: url('fonts/HelveticaNeueLTPro-Lt.eot');
    src: local('☺'), url('fonts/HelveticaNeueLTPro-Lt.woff') format('woff'), url('fonts/HelveticaNeueLTPro-Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
